@charset "UTF-8";

body {
	background-color: #10131c;
	color: white;
}



.label-summonerName,
.for-memo {
	margin-bottom: 10px;
}

.input-summonerName {
	width: 300px;
	font-size: 17px;
	background-color: #282830;
	border: 2px solid gray;
}


.container {
	width: 800px;
	margin: auto;
	border: 1px solid gray;
	margin-top: 100px;
	padding: 50px;
	border-radius: 10px;
	background-color: #292e45;
}

.Box {
	width: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	padding: 5px;
}

.allContainer>div {
	width: 350px;
	height: calc(100% / 5);
}

.mainContainer {
	display: flex;
	gap: 10px;

}

.queue-mike {
	display: flex;
	width: 350px;
	justify-content: space-around;
}

#queuetype {
	text-align: center;
}

.queuetype {
	width: 100px;
	padding: 10px;
	margin-top: 13px;
	border-radius: 10px;
	background-color: #292a30;
	color: white;

}

input[type='radio'] {
	display: none;
}

input[type='radio']+label {
	display: inline-block;
	cursor:pointer;
}

input[type='radio']:checked+label>div {
	background-color: #00bba3;
}

input[type='checkbox'] {
	display: none;
}

input[type='checkbox']+label {
	display: inline-block;
}

input[type='checkbox']:checked+label>div {
	background-color: #00bba3;
}

input[type='radio']+label>div>svg {
	fill: gray
}

input[type='radio']:checked+label>div>svg>path:nth-of-type(1) {
	fill: white
}

input[type='checkbox']+label>div>svg {
	fill: gray
}

input[type='checkbox']:checked+label>div>svg>path:nth-of-type(1) {
	fill: white
}

.for-register {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-top: 15px;
}

.register {
	width: 400px;
	padding: 17px 0;
	border-radius: 10px;
	border: 1px solid gray;
	color: white;
	background-color: #282830;

}

.back {
	padding: 18px 0;
	width: 400px;
	border: 1px solid gray;
	border-radius: 10px;
	text-align: center;
	background-color:#282830;

}

.memo {
	color: white;
}

.mike,
.memo,
.duopassword,
.tier,
.chamption,
.winning,
.kda {
	background-color: #282830;

}

input[type="text"]{
	background-color:#282830 ;
	border: 1px solid gray;
	color:white;
	border-radius:5px;
}