@charset "UTF-8";

body {
   
   background-color: var(--background);
   color: var(--white);
}

ul#item[data-invisible="TRUE"]:has(:not(.modal)) {
   display: none;
}

ul#item[data-invisible2="TRUE"] {
   display: none;
}

ul#item[data-invisible3="TRUE"] {
   display: none;
}
.mw1{
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
  gap: 30px;
}
#duo-title{
   width: 100%;
   padding: 30px 0 30px 0;
   background-color: var(--section);
}
#duo-title h1{
   width: 100%;
   max-width: 1320px;
   margin: 0 auto;
   font-weight: bold;
   font-size: 4rem;
   color: var(--title);
}

.menuContainer {
   display: flex;
   margin-top: 16px;
   gap: 100px;
   justify-content: space-between;
}

.container .for-myposition {
   background-color: #213a9626;
   
}
.container .for-yourposition{
   background-color: #E3464626;
}

.container .for-myposition,
.container .for-yourposition {
   padding: 10px;
   border-radius: 10px;
   margin: 0px 10px;
}

#myposition,
#yourposition {
   margin-bottom: 10px;
   font-size: 1.5rem;
}

.selectType {
   display: flex;
   width: 100%;
   justify-content: right;
   gap: 30px;
   align-items: center;
}

.queuetype,
.tier {
   width: 130px;
   padding:10px;
   border-radius: 10px;
   border: none;
   background-color: var(--section);
   color: var(--title);
   cursor: pointer;
   font-family: inherit;
   font-size: 1.4rem;

}

.queuetype option,
.tier option {
   cursor: pointer;
}

.text {
   padding: 10px 30px 10px 30px;
   font-size: 1.5rem;
   border: none;
   border-radius: 0.7rem;
   text-align: center;
   margin-right: 15px;
   background-color:var(--section);
   color: var(--title);
}

.text>a {
   z-index: 10;
   cursor: pointer;
}

.layout {
   border-radius: 0.5rem;
   margin: 10px;
   background-color:var(--section);
   overflow: hidden;
   padding-bottom: 1rem;
}

.mikeBox {
   width: 30px;
}

.mikeBox>svg {
   width: 100%;
}


.layout>div>ul#descriptor {
   background-color: var(--table);
   color: var(--title);
   font-size: 1.3rem;
}

.layout>div>ul,
.layout>div>div>ul {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 3fr 2fr 1fr 2fr 2fr 1fr;
   padding: 10px;
   justify-content: center;
   align-items: center;
   text-align: center;
   font-size: 1.2rem;
}

.layout>div>div>ul {
   border-bottom: 1px solid gray;
   cursor: pointer;
}

div.yourBox {

   display: inline-block;
}

.Box {
   width: 50px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 10px;
   display: inline-block;
}

#positionBox>.Box>svg>path:nth-of-type(1),
.yourBox>.Box>svg>path:nth-of-type(1) {
   fill: var(--point3)
}
#positionBox>.Box>svg>path:nth-of-type(2),
.yourBox>.Box>svg>path:nth-of-type(2) {
   fill: gray
}

.mikeBox {
   display: inline-block;
}

input[type='radio'] {
   display: none;
}

input[type='radio']+label {
   display: inline-block;
   cursor: pointer;
}

input[type='radio']:checked+label>div {
   background-color: var(--point3);
}

input[type='radio']+label>div>svg {
   fill: gray
}

input[type='radio']:checked+label>div>svg>path:nth-of-type(1) {
   fill: white
}

.mostChampion{
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.ChampionBox{
	width:50px;
	justify-content: center;
	text-align: center;
	border-radius: 50%;
	overflow: hidden;	
}
.ChampionBox > img{
	width:100%;
}

.empty{
	font-size: 25px;
	font-weight: bold;
}


/*-----------------------------------duosave--------------------------------------*/

.modal .duo-find {
   width: 800px;
   height: 100%;
   margin: auto;
   border: 1px solid var(--gray1);
   padding: 50px;
   border-radius: 10px;
   background-color: #1e2233;

}

.modal input[type=text],
.modal input[type=password],
.modal .relative>input{
   color:var(--white);
}
.modal .label-myposition{
	padding-top: 10px
}
 .modal .label-summonerName,
 .modal .for-memo {
   margin-bottom: 10px;
  font-size: 2rem;
}
.modal  .input-summonerName {
   width: 300px;
   font-size: 1.5rem;
   padding: 10px;
   border-radius: 1rem;
   background-color: #282830;
   border: none;
}

.modal  .for-yourposition {	
   margin-top: 20px;
}
.modal  #memo{
	font-size: 1.5rem;
	padding: 10px 0 10px 0;
}
.modal .memo{
	padding: 10px;
	font-size: 1rem;
}
.modal  .selectMenu {
   display: flex;
   justify-content: space-between;
}


.modal .select-queue-container {
   margin-top: 20px;
   border-radius: 10px;   
}

.modal #queuetype {
   text-align: center;
   font-size: 2rem;
}

.modal .queuetype {
   width: 150px;
   padding: 10px;
   border-radius: 10px;
   background-color: #292e45;
   color: white;
   cursor: pointer;
   font-size: 1.7rem;


}

.modal .queuetype>option {
   cursor: pointer;
}
.modal #mike-position{
	align-items: center;
	display: flex;
	flex-direction: column;
}
.modal #mike{
	font-size: 2rem;
	padding-bottom: 10px;
}
.modal .memo {
   width: 300px;
   font-size: 1.5rem;
   color: white;
   cursor: pointer;
   border-radius: 1rem;
}

.modal .duopassword {
   color: white;
}

.modal .for-register {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-top:20px;
}

.modal .register
 {
   width: 400px;
   padding: 17px 0;
   border-radius: 10px;
   background-color: #282830;
   color: var(--white);
   cursor: pointer;
   border: none;
   font-family: inherit;
   font-size: 2rem;
}

.modal .label-password{
	font-size: 1.5rem;
	padding: 5px 0 5px 0;
}
.modal .duopassword1,
.modal .duopassword2{
	font-size: 1.5rem;
	padding: 10px;
	border-radius: 0.5rem;
}
.modal .Box {	
   width: 50px;
   border: 1px solid gray;
   border-radius: 5px;
   padding: 5px;
}

.modal .mike,
.modal .memo,
.modal .duopassword,
.modal .tier,
.modal .chamption,
.modal .winning,
.modal .kda,
.modal .for-password input {
   background-color: #282830;
   border: none;
}

.modal input[type='radio'] {
   display: none;
}
.modal .memo{
	color: var(--gray3);
}
.modal input[type='radio']+label {
   display: inline-block;
   cursor: pointer;
}

.modal input[type='radio']:checked+label>div {
   background-color: var(--point3);
}

.modal input[type='checkbox'] {
   display: none;
}

.modal input[type='checkbox']+label {
   display: inline-block;
}

.modal input[type='checkbox']:checked+label>div {
   background-color: var(--point3);
}

.modal input[type='radio']+label>div>svg {
   fill: gray
}

.modal input[type='radio']:checked+label>div>svg>path:nth-of-type(1) {
   fill: white
}

.modal input[type='checkbox']+label>div>svg {
   fill: gray
}

.modal input[type='checkbox']:checked+label>div>svg>path:nth-of-type(1) {
   fill: white
}

.plus>svg>path {
	fill: var(--gray3);
}
.modal .close > svg{
   width: 100%;
}

.modal .passwordBox{
   display:flex;
   gap:20px;
}
.mike-po{
	text-align: center;
}

.modal .listBack{
	width: 344px;
   padding: 17px 0;
   border-radius: 10px;
   background-color: #282830;
   color: var(--white);
   cursor: pointer;
   border: none;
   font-family: inherit;
   font-size: 2rem;
   height: 58px;
   text-align: center;
}
