
@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
    font-weight: 400;
    font-style: normal;
}
:root {
    font-family: "Pretendard-Regular";
    --point1: #050a53;
    --point2: #213a96;
    --point3: #007aff;
    --point4: #181c2a;
    --point5: #171b2f;
    --point6: #10131c;
    --gray1: #1e1e1e;
    --gray2: #5f5f5f;
    --gray3: #bbbbbb;
    --white: #fff;
    --white2: rgba(255, 255, 255, 0.8);
    --gap-big: 50px;
    --gap-small: 32px;
    --gap-ss: 20px;
    font-size: 10px;
}

.logo{
    width: 15rem;
    margin: 2.5rem 0 0 3rem;
}

.login-box{
    max-width: 43rem;
    margin: auto;
    display: block;
    align-items: center;
    margin-top: 5rem;
}

.login-title{
    text-align: center;
    font-size: 3.5rem;
    padding: 2rem 0;
}

.login-subtitle{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 200;
    width: 68%;
    line-height: 1.9rem;
    color: var(--gray2);
    margin: auto;
}

.login_input{
    margin: auto;

	max-width: 27rem;
}


.form-control{
	width:100%;
    height: 3.9rem;
    margin: 1rem 0;
    border:none;
    border-bottom: 1px solid #ccc;
    font-size: 1.5rem;
    
}

.btn {
	width: 100%;
    height: 4rem;
    margin: 4rem auto 0 auto;
    border-radius: 7px;
    border: none;
    background-color: #aaa;
    color: white;
    cursor: pointer;
}

.kakao,
.naver,
.google{
    width: 5rem;
}

.btns{
    width: 70%;
    justify-content: space-between;
    display: flex;
    margin: auto;
}

.joingobox{
    display: flex;
	max-width:60rem;
    margin: auto;
    margin-top: 5rem;
    font-size: 1.5rem;
}




.joingo{
    float: right;
    margin-left: 0.7rem;
    color:var(--point3);
    cursor: pointer;
}

