@charset "UTF-8";

.userterms-box{
    width: 60%;
    margin: 4rem auto;
}
.userterms-box *{
    border: none;
    font-size: 1.7rem;
    
    color:black;
}
.privacy_title{
	font-weight: bold;
	font-size: 2.5rem;
	padding: 2rem 0;
}