<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/css/champ_tip.css" />
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link rel="stylesheet" href="/css/myrest.css" />
<link rel="stylesheet" href="/css/common.css" />
<link rel="stylesheet" href="/css/champ_detail.css" />
<script
	src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="/js/champ_detail.js" defer></script>
</head>
<body>
	<header th:replace="~{/header :: header}"></header>

	<div>
		<section class="con1">
			<div class="dec">
				<div class="champ-main">
					<img
						th:src="@{'/img/'+${champion.image.group}+'/'+${champion.image.full}}"
						alt="챔피언 이미지" />
				</div>
				<h1>
					<strong style="font-size: 3rem;" th:text="${champion.name}"></strong>
					<!--아무도 없음-->
					<span style="font-size: 2rem" th:text="${position}">빌드 - 포지션</span><br /> <span
						style="font-size: 1.3rem" class="tier">1티어</span>
					<div class="champ-skill">

						<div class="champ-passivetooltip">
							<img alt="패시브 이미지"
								th:src="@{'/img/'+${champion.passive.image.group}+'/'+${champion.passive.image.full}}">
						</div>

						<div class="champ-spelltooltip" id='Q'>
							<img th:src="@{'/img/spell/'+${champion.spells[0].id}+'.png'}"
								alt="스펠 이미지" />
						</div>
						<div class="champ-spelltooltip" id='W'>
							<img th:src="@{'/img/spell/'+${champion.spells[1].id}+'.png'}"
								alt="스펠 이미지" />
						</div>
						<div class="champ-spelltooltip" id='E'>
							<img th:src="@{'/img/spell/'+${champion.spells[2].id}+'.png'}"
								alt="스펠 이미지" />
						</div>
						<div class="champ-spelltooltip" id='R'>
							<img th:src="@{'/img/spell/'+${champion.spells[3].id}+'.png'}"
								alt="스펠 이미지" />
						</div>
				</h1>
			</div>
			<div class="champ-statistics">
				<!--진성님-->
				<div>
					<span>승률</span><br /> <strong th:text="${winrate}+ '%'">50.55%</strong>
				</div>
				<div>
					<span>픽률</span><br /> <strong th:text="${pickrate}+ '%'">6.5%</strong>
				</div>
				<div>
					<span>밴율</span><br /> <strong th:text="${banrate}+ '%'">5.23%</strong>
				</div>
			</div>
			<div class="champ-tip">
				<a th:href="@{'/yalolza.gg/champions/' + ${champion.id}+'/build'}"><button>빌드</button></a>
				<a th:href="@{'/yalolza.gg/champions/' + ${champion.id}+'/counter/'+${position}}"><button>카운터</button></a>
				<a th:href="@{'/yalolza.gg/champions/' + ${champion.id}+'/rune'}"><button>룬</button></a>
				<a th:href="@{'/yalolza.gg/champions/' + ${champion.id}+'/item'}"><button>아이템</button></a>
				<a th:href="@{'/yalolza.gg/champions/' + ${champion.id}+'/skill'}"><button>스킬</button></a>
				<a th:href="@{'/yalolza.gg/champions/' + ${champion.id}+'/tip?query=' + ${champion.name}}"><button>팁</button></a>
			</div>
		</section>
		<div class=gridContainer>
			<h2>챔피언 장인 영상</h2>
			<div class="videoBox" th:each="video : ${youtubeVideos}"
				th:utext="${video}"></div>
		</div>
	</div>
	<br/>
	   <footer th:replace="~{/footer :: footer}"></footer>
	
</body>
</html>