<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/myrest.css" />
    <link rel="stylesheet" href="/css/common.css" />
    <link rel="stylesheet" href="/css/champ.css" />
    <script src="/js/position.js" defer></script>
  </head>
  <body>
    <div class="con1-wrap">
      <section class="con1">
        <div class="champ-tier">
          <select name="tier" id="tier"
					onchange="updateUrl('tier', this.value)">
            <option value="Challenger">Challenger</option>
            <option value="Grandmaster">Grandmaster</option>
            <option value="Master">Master</option>
            <option value="Diamond">Diamond</option>
            <option value="Emerald">Emerald</option>
            <option value="Platinum">Platinum</option>
            <option value="Gold">Gold</option>
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
            <option value="Iron">Iron</option>
          </select>
          <select name="version" id="version">
            <option value="v14.03">v14.03</option>
            <option value="v14.02">v14.02</option>
            <option value="v14.01">v14.01</option>
          </select>
        </div>
        <div class="champ-position">
          <nav>
            <button onclick="updateUrl('position', 'ALL')">전체</button>
			<button onclick="updateUrl('position', 'TOP')">탑</button>
			<button onclick="updateUrl('position', 'JUNGLE')">정글</button>
			<button onclick="updateUrl('position', 'MIDDLE')">미드</button>
			<button onclick="updateUrl('position', 'BOTTOM')">원딜</button>
			<button onclick="updateUrl('position', 'UTILITY')">서포터</button>
          </nav>
        </div>
      </section>
    </div>
    <div class="champ-con">
      <section class="con2">
        <div class="champ-btn">
          <button>전체</button>
          <button>탑</button>
          <button>정글</button>
          <button>미드</button>
          <button>원딜</button>
          <button>서포터</button>
        </div>
        <ul class="champ-face">
          <li th:each="i : ${data}" th:with="champion=${i}">
            <a th:href="'/yalolza.gg/champions/'+${champion.id}+'/build'"
              ><div><img alt="챔피언 이미지" th:src="@{'/img/'+${champion.image.group}+'/'+${champion.image.full}}" /></div>
              <p th:text = "${champion.name}"></p></a>
          </li>
        </ul>
      </section>
      <section class="con3">
        <table>
          <thead>
            <tr>
              <th>순위</th>
              <th>챔피언</th>
              <th>티어</th>
              <th>포지션</th>
              <th>승률</th>
              <th>픽률</th>
              <th>벤율</th>
              <th>상대하기 어려운챔피언</th>
            </tr>
          </thead>
          <tbody>
			<tr th:each="champion, stat : ${positionData}" class="champ-body">
				<td th:text="${stat.count}"></td>
				<td>
					<div class="img-wrap">
						<a th:href="@{/img/champion/{championName}(championName=${champion.championName})}">
						<img th:src="@{/img/champion/{championName}.png(championName=${champion.championName})}" alt="Champion Icon" />
						</a>
					</div>
					<p class="champ-name">
						<a th:text="${champion.krchampionName}" href="#"></a>
					</p>
				</td>
				<td th:text="${champion.stats.champtier}"></td>
				<td>
					<div class="img-wrap" th:switch="${champion.position}">
						<div class="TopBox" th:case="TOP"></div>
						<div class="JungleBox" th:case="JUNGLE"></div>
						<div class="MidBox" th:case="MIDDLE"></div>
						<div class="BottomBox" th:case="BOTTOM"></div>
						<div class="SupporterBox" th:case="UTILITY"></div>
					</div>
				</td>
				<td th:text="${champion.stats.winrate} + '%'"></td>
				<td th:text="${champion.stats.pickrate} + '%'"></td>
				<td th:text="${champion.stats.banrate} + '%'"></td>
				<td>
					<div class="img-wrap">
						<a href=""><img src="/img/Garen.webp" alt="" /></a>
					</div>
					<div class="img-wrap">
						<a href=""><img src="/img/Garen.webp" alt="" /></a>
					</div>
					<div class="img-wrap">
						<a href=""><img src="/img/Garen.webp" alt="" /></a>
					</div>
				</td>
			</tr>
		</tbody>
        </table>
      </section>
    </div>
    <script>
		// URL 업데이트
		function updateUrl(key, value) {
			var url = new URL(window.location.href);
			url.searchParams.set(key, value);
			window.location.href = url.href;
		}
		document.addEventListener('DOMContentLoaded', function() {
			var url = new URL(window.location.href);
			var tier = url.searchParams.get("tier");
			var position = url.searchParams.get("position");

			if (!tier && !position) {
				window.location.href = '/lol?tier=EMERALD&position=TOP';
			}
		});
	</script>
</body>
</html>
