<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Counter View</title>
</head>
<body>
    <h1>Counter Information</h1>
    <h2>Selected Champion: <span th:text="${selectedChampionName}"></span></h2>
    
    <h3>Counter Champions:</h3>
    <ul>
        <li th:each="champion : ${targetCounters}">
            <span th:text="${champion.championName}"></span> - <span th:text="${champion.stats.winRate}"></span>
        </li>
    </ul>
    
    <h3>Target Champion: <span th:text="${targetChampion}"></span></h3>
</body>
</html>
