<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
 	  <meta charset="UTF-8">
 	  <title>yalolza.gg</title>
</head>
<body>
	<footer th:fragment="footer">
        <div class="ft-wrap">
            <div class="idv">
                <p><a th:href="@{/yalolza.gg/useterms}">이용약관</a></p>
                <p><a th:href="@{/yalolza.gg/privacy}">개인정보처리방침</a></p>
            </div>
            <div class="lol">
            <span
            >LOL.GG is hosted by LOL Analytics, Inc. LOL.GG isn’t endorsed by
              Riot Games and doesn’t reflect the views or opinions of Riot Games
              or anyone officially involved in producing or managing League of
              Legends. League of Legends and Riot Games are trademarks or
              registered trademarks of Riot Games, Inc. League of Legends © Riot
              Games, Inc.</span
            ><br />
                <p>LOL Analytics, Inc. © 2024</p>
            </div>
        </div>
    </footer>
</body>
</html>