<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" th:href="@{/css/login_form.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/community.css}">
    <title>로그인</title>

    <!-- 새로운 스크립트 -->

</head>
<body>

<a th:href="@{/yalolza.gg}"><img th:src="@{/img/logo.png}" class="logo" alt="logo"></a>
<!-- 메인페이지로 이동하게 href 설정 -->
<div class="login-box">
	<div sec:authorize="isAuthenticated()">
		<div>이미 로그인한 유저입니다. 메인페이지로 돌아가세요</div>
		<a th:href="@{/yalolza.gg}" class=back>메인페이지</a>
	</div>
    <div sec:authorize="isAnonymous()">
	<div>	
        <form th:action="@{/yalolza.gg/user/login}" method="post">
            <div class="login-title">로그인</div>
            <div class="login-subtitle">
                롤 게이머들을 위한 yaLoLza 커뮤니티에 오신 것을 환영합니다.
            </div>
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    사용자ID 또는 비밀번호를 확인해 주세요.
                </div>
            </div>
            <div class="login_input">
                <div>
                    <!-- <label for="username" class="form-label">사용자ID</label> -->
                    <input type="text" name="username" id="username" placeholder="사용자ID" class="form-control" 
                    	required pattern="[a-zA-Z0-9]{4,10}" title="알파벳 대소문자와 숫자로 이루어진 4에서 10글자 사이의 문자열을 입력하세요">
                </div>
                <div>
                    <!-- <label for="password" class="form-label">비밀번호</label> -->
                    <input type="password" name="password" id="password" placeholder="비밀번호" class="form-control" 
                    	required pattern="[a-zA-Z0-9]{4,10}" title="알파벳 대소문자와 숫자로 이루어진 4에서 10글자 사이의 문자열을 입력하세요">
                </div>
                <button type="submit" class="btn btn-primary">로그인</button>

            </div>
        </form>
    </div>
    <div style="display: flex;">
        <div style="width: 30%; border: 0.5px solid #ccc; margin: 2rem auto;"></div>
        <div style="margin-top: 1.7rem; font-weight: 300;">OR</div>
        <div style="width: 30%; border: 0.5px solid #ccc; margin: 2rem auto;"></div>
    </div>

    <div class="btns">
        <a href="/oauth2/authorization/kakao">
            <img th:src="@{/img/kakao.png}" class="kakao">
        </a>
        <a href="/oauth2/authorization/google">
            <img th:src="@{/img/google.png}"  class="google">
        </a>
        <a href="/oauth2/authorization/naver">
            <img th:src="@{/img/naver.png}"  class="naver">
        </a>
    </div>
    <!-- <a th:href="@{/home}">home 으로</a> <br/><br/> -->
    <div class="joingobox">
        <div>아직 yaLoLza Member가 아니신가요?</div>
        <a th:href="@{/yalolza.gg/user/signup}" class="joingo">회원가입</a>
    </div>
    </div>
</div>
</body>
</html>