<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="EUC-KR">
<title>yalolza.gg</title>
</head>
<body>
	<!-- <div th:text = "'영웅아이디 '+${champion.id}"></div>
	<div th:text = "'영웅한글이름 '+${keysChamName[champion.id]}"></div>

	<div th:text = "'소환사스펠키 '+${summoner1.key]}"></div>
	<div th:text = "'소환사스펠아이콘 '+${summonerkey[summoner1.key]}"></div>
	<div th:text = "'룬아이디 '+${mainRune.id}"></div>
	<div th:text = "'룬 이름 '+${keysRune[mainRune.id]}"></div>
	<div th:text = "'능력치아이디 '+${perklist[0].id}"></div>
	<div th:text = "'능력치 이름 '+${keysPerk[perklist[0].id]}"></div> -->
</body>
</html>