<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body style="background-color:red">
<iframe src="http://localhost:3000/d-solo/fd041a07-6ae9-494e-a2c3-989097130596/jvm-micrometer?orgId=1&from=1709045999000&to=1709132399000&theme=light&panelId=167" width="450" height="200" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fd041a07-6ae9-494e-a2c3-989097130596/jvm-micrometer?orgId=1&from=1709045999000&to=1709132399000&panelId=167" width="450" height="200" frameborder="0"></iframe>
<iframe src="http://localhost:3000/d-solo/fd041a07-6ae9-494e-a2c3-989097130596/jvm-micrometer?orgId=1&from=1709045999000&to=1709132399000&theme=light&panelId=167" width="450" height="200" frameborder="0"></iframe>
</body>
</html>