<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RANK</title>
</head>
<body>
    <h1>솔랭 Statistics</h1>
    
    <div>
        <label for="tier-select">Select Tier:</label>
        <select id="tier-select">
            <option value="IRON">IRON</option>
            <option value="BRONZE">BRONZE</option>
            <option value="SILVER">SILVER</option>
            <option value="GOLD">GOLD</option>
            <option value="PLATINUM">PLATINUM</option>
            <option value="EMERALD">EMERALD</option>
            <option value="DIAMOND">DIAMOND</option>
            <option value="MASTER">MASTER</option>
            <option value="GRANDMASTER">GRANDMASTER</option>
            <option value="CHALLENGER">CHALLENGER</option>
        </select>
        <button onclick="getData()">Load Data</button>
    </div>
    
    <div>
        <label for="position">Position:</label>
        <select id="position">
            <option value="TOP">Top</option>
            <option value="MID">Mid</option>
            <option value="JUNGLE">Jungle</option>
            <option value="BOTTOM">Bottom</option>
            <option value="SUPPORT">Support</option>
        </select>
    </div>
    
    <div>
        <label for="championName">championName:</label>
         <select id="championName">
            <option value="garen">Garen</option>
            <option value="galio">Galio</option>
            <option value="Gangplank">Gangplank</option>
            <option value="Gragas">Gragas</option>
            <option value="Graves">Graves</option>
            <option value="Nami">Nami</option>
            <option value="Riven">Riven</option>
            <option value="Miss Fortune">Miss Fortune</option>
            <option value="Vayne">Vayne</option>
            <option value="Teemo">Teemo</option>
        </select>
    </div>
    
    <h2>PrimaryStyle:</h2>
    <table id="primaryStyleTable">
        <tr>
            <td id="primaryPerk1" th:text="${primaryPerk1}"></td>
        	<td id="primaryPerk2" th:text="${primaryPerk2}"></td>
        	<td id="primaryPerk3" th:text="${primaryPerk3}"></td>
        	<td id="primaryPerk4" th:text="${primaryPerk4}"></td>
        	<td id="runeWinRate" th:text="${runeWinRate}"></td>
        </tr>
    </table>
    
    <h2>SecondaryStyle:</h2>    
    <table id="secondaryStyleTable">
        <tr>
            <td id="secondaryPerk1" th:text="${secondaryPerk1}"></td>
        	<td id="secondaryPerk2" th:text="${secondaryPerk2}"></td>
        </tr>
    </table>
    
    <h2>SummonerSpell:</h2>    
    <table id="SummonerSpellTable">
        <tr>
            <td id="summonerSpellSet1" th:text="${summonerSpellSet1}"></td>
            <td id="summonerSpellSet1Win" th:text="${summonerSpellSet1Win}"></td>
        	<td id="summonerSpellSet2" th:text="${summonerSpellSet2}"></td>
        	<td id="summonerSpellSet2Win" th:text="${summonerSpellSet2Win}"></td>
        </tr>
    </table>
    
    <h2>ItemPreference:</h2>    
    <table id="ItemPreferenceTable">
        <tr>
          	<td id="item1" th:text="${item1}"></td>
			<td id="item2" th:text="${item2}"></td>
			<td id="item3" th:text="${item3}"></td>
        </tr>
    </table>
    
    <h3>WinRate:</h3>    
    <table id="WinRateTable">
        <tr>
             <td id="WinRate" th:text="${WinRate}"></td>
        </tr>
    </table>
    
    <script>
        function getData() {
            var tier = document.getElementById("tier-select").value;
            var position = document.getElementById("position").value;
            var championName = document.getElementById("championName").value;

            //그냥 서버 쪽으로 보낼 거임
            
/*             fetch("/rune/statistics?tier=" + tier + "&position=" + position + "&championName=" + championName)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Fail');
                }
                return response.json();
                
            })
            .then(data => { */
            			//-------
            	 		// AJAX 요청 보내기
            	 	
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/?tier=" + tier + "&position=" + position + "&championName=" + championName, true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // 서버에서 받은 데이터를 사용하여 페이지 업데이트
                        var data = JSON.parse(xhr.responseText);
						//------------------------
                document.getElementById("primaryPerk1").innerText = data.primaryPerk1;
                document.getElementById("primaryPerk2").innerText = data.primaryPerk2;
                document.getElementById("primaryPerk3").innerText = data.primaryPerk3;
                document.getElementById("primaryPerk4").innerText = data.primaryPerk4;
                document.getElementById("secondaryPerk1").innerText = data.secondaryPerk1;
                document.getElementById("secondaryPerk2").innerText = data.secondaryPerk2;
                document.getElementById("runeWinRate").innerText = data.runeWinRate;
                document.getElementById("summonerSpellSet1").innerText = data.summonerSpellSet1;
                document.getElementById("summonerSpellSet1").innerText = data.summonerSpellSet1Win;
                document.getElementById("summonerSpellSet2").innerText = data.summonerSpellSet2;
                document.getElementById("summonerSpellSet2").innerText = data.summonerSpellSet2Win;
                document.getElementById("item1").innerText = data.item1;
                document.getElementById("item2").innerText = data.item2;
                document.getElementById("item3").innerText = data.item3;
                document.getElementById("WinRate").innerText = data.winrate;
               			//----
                    }
                };
                xhr.send();
            }
            //------

           /*  })
            .catch(error => {
                console.error('Fail', error);
            });
        } */
    </script>
</body>
</html>
