<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>yalolza.gg</title>
</head>
<body>

<div class="main-rune" >
	<ul class="main-zero">
		<li th:id="${mainRune.id}"><img alt="룬모음 이미지"
			th:src="@{'/img/'+${mainRune.icon}}" /></li>
	</ul>
	<ul class="main-first">
		<li th:each="j : ${mainRune.slots[0].runes}"
			th:with="rune=${j}" th:id="${rune.id}">
			<div th:class="${rune.id}==${primaryPerk1}? 'color-icon':'gray-icon'">
				<img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
			</div>
		</li>
	</ul>
	<ul class="main-second">
		<li th:each="j : ${mainRune.slots[1].runes}" th:with="rune=${j}" th:id="${rune.id}">
			<div th:class="${rune.id}==${primaryPerk234[1]}? 'color-icon':'gray-icon'">
			<img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
			</div>
		</li>
	</ul>
	<ul class="main-third">
		<li th:each="j : ${mainRune.slots[2].runes}" th:with="rune=${j}" th:id="${rune.id}">
			<div th:class="${rune.id}==${primaryPerk234[2]}? 'color-icon':'gray-icon'">
			<img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
			</div>
		</li>
	</ul>
	<ul class="main-fourth">
		<li th:each="j : ${mainRune.slots[3].runes}" th:with="rune=${j}" th:id="${rune.id}">
			<div th:class="${rune.id}==${primaryPerk234[3]}? 'color-icon':'gray-icon'">
			<img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
			</div>
		</li>
	</ul>
	<p th:text="${mainRune.name}"></p>
</div>
</body>
</html>