	<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>yalolza.gg</title>

  <link rel="stylesheet" href="/css/myrest.css" />
  <link rel="stylesheet" href="/css/common.css" />
  <link rel="stylesheet" href="/css/userdetail.css" />
  <link rel="stylesheet" href="/css/userschampions.css"/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>
  
  <script src="/js/userdetail.js" defer></script>
  <script src="/js/champ_detail.js" defer></script>
  <script src="/js/position.js" defer></script>
  <script src="/js/common.js" defer></script>

</head>

<body>
	<header th:replace="~{/header :: header}"></header>
  <div>
    <!-- 유저 정보 -->
    <section class="con1">
      <div class="dec">
        <div class="champ-main"><img loading="lazy" th:src="@{'/img/profileicon/'+${summoner.profileIconId} + '.jpg'}"
            alt="Item Image" /></div>
        <h1 class="user-main">
          <strong style="font-size: 3rem" th:text="${summoner.summonername}"></strong>
          <span style="font-size: 2rem" th:text=" '#'+${summoner.tag}">#444</span><br />
          <p class="user-id">
            <span th:text="${'소환사 레벨'+summoner.summonerLevel}"></span>
          </p>
          <form th:action="@{'/yalolza.gg/summoners/' + ${summoner.summonername} + '-'+ ${summoner.tag}}" method="get">
            <input type="hidden" id="keyword" name="keyword">
            <button id="gangsin" type="submit">전적 갱신</button>
          </form>
        </h1>
      </div>
      <div class="user-statistics"></div>
      <div class="user-tip">
        <button onclick="allresult()">종합</button>
        <button class="totalchampionsbutton" onclick="champions()">챔피언</button>
      </div>
      <!--솔로랭크-->
    </section>
    
            <!--유저챔피언시작--> 
            <div class="mw">       
<section class="user-totalchampions">
        <table>
          <thead>
            <tr class="collapse">
              <th>#</th>
              <th>챔피언</th>
              <th>승률</th>
              <th>평점</th>
              <th>골드</th>
              <th>CS</th>
              <th>평균 킬</th>
              <th>평균 데스</th>
              <th>평균 가한 피해량</th>
              <th>평균 받은 피해량</th>
            </tr>
          </thead>
          <tbody>
			 <tr class="collapse" th:each="chamspers,ch : ${summonerchamsper}">
              <td class="champface2" style="background-color: var(--table)" th:text="${ch.index+1}">
                1
              </td>
              <td class="champface">
                <div>
                  <div class="img-wrap4">
                    <img  th:src="@{'/img/champion/'+${chamspers[0]} + '.jpg'}" alt="" />
                  </div>
                  <span style="color: var(--white)" th:text="${keysChamName[chamspers[0]]}">챔피언</span>
                </div>
              </td>
              <td class="champface1">
                <p>
                  <strong style="color: var(--point10)" th:text="${(chamspers[6]*100/chamspers[5]) +'%'}">62%</strong>
                  <span th:text="${'('+chamspers[5]  +'게임)'}">(47게임)</span>
                </p>
                <p>
                  <span th:text="${chamspers[6]  +'승'}">29승</span>
                  <span th:text="${chamspers[5] - chamspers[6] +'패'}">18패</span>
                </p>
              </td>
              <td class="champface1">
                <strong style="color: var(--point3)" th:text="${chamspers[1]}">4.36</strong><br />
              </td>
              <td class="champface2" th:text="${#numbers.formatDecimal(chamspers[7],1,1) }">12314</td>
              <td class="champface2" th:text="${chamspers[2]}">123.5(8.5)</td>
              <td class="champface2" th:text="${#numbers.formatDecimal(chamspers[8],1,1)}">7.5</td>
              <td class="champface2" th:text="${#numbers.formatDecimal(chamspers[9],1,1)}">4.3</td>
              <td class="champface2" th:text="${#numbers.formatDecimal(chamspers[3],1,0)}">25,123</td>
              <td class="champface2" th:text="${#numbers.formatDecimal(chamspers[4],1,0)}">29.123</td>
            </tr>
          </tbody>
        </table>
      </section>
      </div>
          <!--유저챔피언끝-->    
    <div class="mw">
      <div class="item-flex">
        <div class="user-left">
          <!-- 솔로 랭크 -->
          <section class="user-ranktier">
            <h2>솔로랭크</h2>
            <ul>
              <li class="ranktier2">
                <div class="img-wrap2"><img loading="lazy" th:src="@{'/img/tier/'+${summoner.recenttier} + '.png'}" alt="" /></div>
                <div>
                 <h3 th:text="${summoner.recenttier +' ' +summoner.rank}"></h3>
                  <br />
                  <span th:text="${summoner.leaguePoints}+'LP'"></span>
                </div>
              </li>
 
              <li class="ranktier3">
                <span th:text="${summoner.wins+'승'}"></span><br/>
                <span th:text="${summoner.losses+'패'}"></span>
              </li>
            </ul>
          </section>
          <!-- 모스트 10 챔피언 -->
          <section class="user-most">
            <h2>모스트 5 챔피언</h2>           
            <ul th:each="chamsper , iterStat : ${summonerchamsper}" th:if="${iterStat.index lt 5}">
              <li class="most-champname">
                <div class="img-wrap"><img loading="lazy" th:src="@{'/img/champion/'+${chamsper[0]} + '.jpg'}" alt="" />
                </div>
                <strong style="font-size: 2rem"
                  th:text="${keysChamName[chamsper[0] == 'FiddleSticks' ? 'Fiddlesticks' : chamsper[0] ]}">챔피언
                  이름</strong>
              </li>
              <li style="text-align: center">
                <strong style="font-size: 1.5rem" th:text="${chamsper[1]} +' 평점'">4.4평점</strong><br />

              </li>
              <li class="most-champtext">

                <strong style="color: var(--point10);" th:text="'승수 '+${chamsper[6]}">승률</strong>
                <br />
                <span th:text="'판수 '+${chamsper[5]}">게임수</span>
              </li>
            </ul>

            <button onclick="champions()">더보기</button>
          </section>
        </div>
        <div class="user-right">
	<div class="donghuck">	
          <!-- 최근 20전 -->
          <section th:replace="championmostfrag.html :: results-fragment(totalgame=${summonerall[7]}, wingame=${summonerall[0]}, winper=${summonerall[6]}, kill=${summonerall[1]}, death=${summonerall[2]}, assist=${summonerall[3]}, kda=${summonerall[4]}, killper=${summonerall[5]}, most=${summonermost})">
		  </section>
          <!-- 유저 게임 정보 -->
          <!-- 반복점 시작 -->
          <div class="usermathall" th:each="match , i : ${matchsssinfoList}">
            <section class="usergame-result">
              <ul>
                <li class="usergame-times">
                  <strong style="font-size: 1.8rem" th:text="${keysquetype[match.body.info.queueId]}"></strong><br />
                  <span style="font-size: 1.8rem" th:text="${match.body.caludate}">몇시간 전</span>
                </li>
                <li class="usergame-timess">
                  <span style="font-size: 1.8rem"
                    th:text="${match.body.info.participants[summonermatchnum[i.index]].win == true ? '승리':'패배'}"></span><br />
                  <span style="font-size: 1.8rem" th:text="${(match.body.info.gameDuration) / 60} + '분'">게임 시간</span>
                </li>
              </ul>
              <ul>
                <div>
                  <li class="usergame-grade">
                    <div class="usergame-grade">
                      <div class="img-wrap2"><img loading="lazy" th:src="@{'/img/champion/'+${match.body.info.participants[summonermatchnum[i.index]].championName} + '.jpg'}"alt="" />
                          <div class="summonerchamps-level"><span  th:text="${match.body.info.participants[summonermatchnum[i.index]].champLevel}"></span></div></div>
                      <div class="usergame-flex1">
                        <div class="img-wrap1" th:id="${match.body.info.participants[summonermatchnum[i.index]].summoner1Id}"><img loading="lazy" th:src="@{'/img/summoner-spell/'+${keysChamSpell[match.body.info.participants[summonermatchnum[i.index]].summoner1Id]} + '.jpg'}" alt="" /></div>
                        <div class="img-wrap1" th:id="${match.body.info.participants[summonermatchnum[i.index]].summoner2Id}"><img loading="lazy" th:src="@{'/img/summoner-spell/'+${keysChamSpell[match.body.info.participants[summonermatchnum[i.index]].summoner2Id]} + '.jpg'}" alt="" /></div>
                      </div>
                      <div class="usergame-flex2">
                        <div class="img-wrap1" th:id="${match.body.info.participants[summonermatchnum[i.index]].Perks.Styles[0].selections[0].perk}">
                          <img loading="lazy" th:src="@{'/img/'+${keysRuneImage[match.body.info.participants[summonermatchnum[i.index]].Perks.Styles[0].selections[0].perk]}}" alt="" />
                        </div>
                        <div class="img-wrap1" th:id="${match.body.info.participants[summonermatchnum[i.index]].Perks.Styles[1].style}">
                          <img loading="lazy" th:src="@{'/img/'+${keysRuneImage[match.body.info.participants[summonermatchnum[i.index]].Perks.Styles[1].style]}}" alt="" />
                        </div>
                      </div>
                      <div class="usergame-kda">
                        <span th:text="${match.body.info.participants[summonermatchnum[i.index]].kills + '/' + 
	                               match.body.info.participants[summonermatchnum[i.index]].deaths + '/' +
	                               match.body.info.participants[summonermatchnum[i.index]].assists
	              }"> </span><br />



                        <span th:if="${match.body.info.participants[summonermatchnum[i.index]].deaths == 0}"
                          th:text="perpect"></span>

                        <div th:unless="${match.body.info.participants[summonermatchnum[i.index]].deaths == 0}">
                          <span th:if="${(match.body.info.participants[summonermatchnum[i.index]].kills + 0.0 +
					                     match.body.info.participants[summonermatchnum[i.index]].assists) /
					                    match.body.info.participants[summonermatchnum[i.index]].deaths < 10}" th:text="${' ' + #numbers.formatDecimal((match.body.info.participants[summonermatchnum[i.index]].kills + 0.0 +
					                     match.body.info.participants[summonermatchnum[i.index]].assists) /
					                    match.body.info.participants[summonermatchnum[i.index]].deaths ,1, 2)}"></span>
                          <span th:unless="${(match.body.info.participants[summonermatchnum[i.index]].kills + 0.0 +
					                     match.body.info.participants[summonermatchnum[i.index]].assists) /
					                    match.body.info.participants[summonermatchnum[i.index]].deaths < 10}" th:text="${#numbers.formatDecimal((match.body.info.participants[summonermatchnum[i.index]].kills + 0.0 +
					                     match.body.info.participants[summonermatchnum[i.index]].assists) /
					                    match.body.info.participants[summonermatchnum[i.index]].deaths ,2, 2)}" ></span>

                        </div>


                      </div>
                    </div>
                    <div>
                         <span style="color: var(--point10)"
					      th:with="sss=${match.body.info.participants[summonermatchnum[i.index]].teamId == 100 ? 0 : 1}"
					      th:text="${'킬관여 ' + ((match.body.info.participants[summonermatchnum[i.index]].kills +
					         match.body.info.participants[summonermatchnum[i.index]].assists) == 0 && match.body.info.teams[sss].objectives.champion.kills == 0 ? 0 : ((match.body.info.participants[summonermatchnum[i.index]].kills +
					        match.body.info.participants[summonermatchnum[i.index]].assists) * 100 / (match.body.info.teams[sss].objectives.champion.kills == 0 ? 1 : match.body.info.teams[sss].objectives.champion.kills))) + '%'}">
					      킬관여 45%
					    </span><br />

                      <span
                        th:text="'제어 와드'+${match.body.info.participants[summonermatchnum[i.index]].visionWardsBoughtInGame}"></span><br />
                      <span
                        th:text="'CS '+${match.body.info.participants[summonermatchnum[i.index]].totalMinionsKilled}"></span><br />

                      <span>티어</span>
                    </div>
                  </li>
                </div>

                <div class="usergame-items">
                  	<li class="img-wrap1" th:each="itemIndex : ${#numbers.sequence(0, 6)}"th:id="${match.body.info.participants[summonermatchnum[i.index]]['item' + itemIndex]}"><img loading="lazy" th:src="@{'/img/item/'+${match.body.info.participants[summonermatchnum[i.index]]['item' + itemIndex]} + '.jpg'}" alt="" />	</li>
                </div>
              </ul>
              <ul class="usergame-ten" th:with="part = ${match.body.info}">
                <li>
                  <div class="usergame-id" th:each=" i  : ${#numbers.sequence(0, 4)}">
                    <div class="img-wrap3" th:id="${match.body.info.participants[i].championName}"><img loading="lazy"
                        th:src="@{'/img/champion/'+${match.body.info.participants[i].championName} + '.jpg'}" alt="" />
                    </div>
                    <span>
					<a th:href="@{'/yalolza.gg/summoners/' + ${ match.body.info.participants[i].riotIdGameName + '-' + match.body.info.participants[i].riotIdTagline}}"
					   th:text="${match.body.info.participants[i].summonerName == '' ? match.body.info.participants[i].riotIdGameName : match.body.info.participants[i].riotIdGameName}">
					</a>
                      </span>
                  </div>
                </li>
                <li>
                  <div class="usergame-id" th:each=" i  : ${#numbers.sequence(5, 9)}">
                    <div class="img-wrap3" th:id="${match.body.info.participants[i].championName}"><img loading="lazy"
                        th:src="@{'/img/champion/'+${match.body.info.participants[i].championName} + '.jpg'}" alt="" />
                    </div>
                   <span>
					<a th:href="@{'/yalolza.gg/summoners/' + ${ match.body.info.participants[i].riotIdGameName + '-' + match.body.info.participants[i].riotIdTagline}}"
					   th:text="${match.body.info.participants[i].summonerName == '' ? match.body.info.participants[i].riotIdGameName : match.body.info.participants[i].riotIdGameName}">
					</a>
                   </span>
                  </div>
                </li>
                <li class="usergame-btn">
                  <button>∨</button>
                </li>
              </ul>
            </section>
            <!-- 버튼 클릭하면 나올곳 -->
            <div class="usergame-click">
              <section class="usergame-menunavi">
                <button class="btn-all">종합</button>
                <button class="btn-build">빌드</button>
              </section>
              <!-- 유저 승리 정보 -->
              <div class="buildbtn-all">
                <section class="user-victory">
                  <ul class="victory-nav">
                    <li>
                      <span style="color: var(--point3)"
                        th:text="${match.body.info.participants[summonermatchnum[i.index]].win == true ? '승리' : '패배' }">승리</span>
                      <span
                        th:text="${'(' + (match.body.info.participants[summonermatchnum[i.index]].teamId == 100 ? '블루팀' : '레드팀') + ')'}">(레드팀)</span>
                    </li>
                    <li>
                      <h3>KDA</h3>
                    </li>
                    <li>
                      <h3>가한 피해량</h3>
                    </li>
                    <li>
                      <h3>받은 피해량</h3>
                    </li>
                    <li>
                      <h3>와드</h3>
                    </li>
                    <li>
                      <h3>CS</h3>
                    </li>
                    <li>
                      <h3>아이템</h3>
                    </li>
                  </ul>
                  <div th:with="www=${summonermatchnum[i.index] >= 5 ? 5 : 0}">
                    <ul class="vic-team" th:each="z : ${#numbers.sequence(www, www + 4)}">
                      <li>
                        <div class="champion">
                          <div class="img-wrap" th:id="${match.body.info.participants[z].championName}"><img loading="lazy"
                              th:src="@{'/img/champion/'+${match.body.info.participants[z].championName} + '.jpg'}"
                              alt="" />
                         <div class="tenchamps-level">
                          <span  th:text="${match.body.info.participants[z].champLevel}"></span>
                          </div>
                              </div>
                        </div>
                        <div class="vic-spell">
                          <div class="spell">
                            <div class="img-wrap3" th:id="${match.body.info.participants[z].summoner1Id}"><img loading="lazy"
                                th:src="@{'/img/summoner-spell/'+${keysChamSpell[match.body.info.participants[z].summoner1Id]} + '.jpg'}"
                                alt="" /></div>
                            <div class="img-wrap3" th:id="${match.body.info.participants[z].summoner2Id}"><img loading="lazy"
                                th:src="@{'/img/summoner-spell/'+${keysChamSpell[match.body.info.participants[z].summoner2Id]} + '.jpg'}"
                                alt="" /></div>
                          </div>
                          <div class="rune">
                            <div class="img-wrap3" th:id="${match.body.info.participants[z].Perks.Styles[0].selections[0].perk}"><img loading="lazy"
                                th:src="@{'/img/'+${keysRuneImage[match.body.info.participants[z].Perks.Styles[0].selections[0].perk]}}"
                                alt="" /></div>
                            <div class="img-wrap3" th:id="${match.body.info.participants[z].Perks.Styles[1].style}"><img loading="lazy"
                                th:src="@{'/img/'+${keysRuneImage[match.body.info.participants[z].Perks.Styles[1].style]}}"
                                alt="" /></div>
                          </div>
                        </div>
                        <p>
                   <strong style="color: var(--title);">
					<a th:href="@{'/yalolza.gg/summoners/' + ${ match.body.info.participants[z].riotIdGameName + '-' + match.body.info.participants[z].riotIdTagline}}"
					   th:text="${match.body.info.participants[z].summonerName == '' ? match.body.info.participants[z].riotIdGameName : match.body.info.participants[z].riotIdGameName}">
					</a>
                   </strong>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span style="color: var(--font);" th:text="${match.body.info.participants[z].kills + '/' + 
	                               match.body.info.participants[z].deaths + '/' +
	                               match.body.info.participants[z].assists
	              }">3/4/6(45%)</span><br />

                          <span style="color: var(--point10)"
                            th:with=" sss = ${match.body.info.participants[z].teamId == 100 ? 0 : 1}"
                            th:text="${'킬관여 '+ ((match.body.info.participants[z].kills+match.body.info.participants[z].assists) * 100 / match.body.info.teams[sss].objectives.champion.kills) +'%'}">킬관여
                            45%</span><br />

                          <span style="color: var(--point10)"
                            th:if="${match.body.info.participants[summonermatchnum[i.index]].deaths == 0}"
                            th:text="perpect"></span>

                        <div th:unless="${match.body.info.participants[z].deaths == 0}">
                          <span style="color: var(--font);" th:if="${(match.body.info.participants[z].kills + 0.0 +
					                     match.body.info.participants[z].assists) /
					                    match.body.info.participants[z].deaths < 10}" th:text="${' ' + #numbers.formatDecimal((match.body.info.participants[z].kills + 0.0 +
					                     match.body.info.participants[z].assists) /
					                    match.body.info.participants[z].deaths ,1, 2)}" />
                          <span style="color: var(--font);" th:unless="${(match.body.info.participants[z].kills + 0.0 +
					                     match.body.info.participants[z].assists) /
					                    match.body.info.participants[z].deaths < 10}" th:text="${#numbers.formatDecimal((match.body.info.participants[z].kills + 0.0 +
					                     match.body.info.participants[z].assists) /
					                    match.body.info.participants[z].deaths ,2, 2)}" /></span>

                        </div>

                 
                      </li>
                      <li>
                        <div th:with=" dmg =${match.body.info.participants[z].totalDamageDealtToChampions}">
                          <span style="color: var(--font);" th:text="${dmg}">4554</span><br />
                          <progress id="progress1" th:value="${dmg}" min="0" th:max="${match.body.maxdmg}"></progress>
                        </div>
                      </li>
                      <li>
                        <div th:with=" dfs =${match.body.info.participants[z].totalDamageTaken}">
                          <span style="color: var(--font);" th:text="${dfs}">4554</span><br />
                          <progress id="progress2" th:value="${dfs}" min="0" th:max="${match.body.maxdmged}"></progress>
                        </div>
                      </li>
                      <li>
                        <p>
                          <span style="color: var(--font);" th:text="${match.body.info.participants[z].visionWardsBoughtInGame}">4(제어)</span><br />
                          <span style="color: var(--font);" th:text="${match.body.info.participants[z].wardsPlaced+'/'+
                       match.body.info.participants[z].wardsKilled}">14/3</span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span style="color: var(--font);"
                            th:text="${match.body.info.participants[z].totalMinionsKilled + match.body.info.participants[z].totalAllyJungleMinionsKilled +match.body.info.participants[z].totalEnemyJungleMinionsKilled}">211</span><br />
                          <span style="color: var(--font);"
                            th:text=" '분당 ' + ${(match.body.info.participants[z].totalMinionsKilled + match.body.info.participants[z].totalAllyJungleMinionsKilled +match.body.info.participants[z].totalEnemyJungleMinionsKilled) /(match.body.info.gameDuration/ 60 )}">분당
                            4.6</span>
                        </p>
                      </li>
                      <li>

                        <ul class="victotal-items">
                          <div class="img-wrap3" th:each="itemIndex : ${#numbers.sequence(0, 6)}" th:id="${match.body.info.participants[z]['item' + itemIndex]}">
                            <img loading="lazy"
                              th:src="@{'/img/item/'+${match.body.info.participants[z]['item' + itemIndex]} + '.jpg'}"
                              alt="" />
                          </div>

                        </ul>
                      </li>
                    </ul>
                  </div>

                </section>
                <!-- 오브젝트 -->
                <section class="usergame-object" th:with="sss=${match.body.info.participants[summonermatchnum[i.index]].teamId == 100 ? 0 : 1},
                       nsss=${match.body.info.participants[summonermatchnum[i.index]].teamId == 100 ? 1 : 0}">

                  <ul class="usergame-objects" th:with="tt=${match.body.info.teams[sss]}">
                    <li>
                      <div class="img-wrap4 baron" id="baron"></div>
                      <span th:text="${tt.objectives.baron.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 dragon" id="dragon"></div>
                      <span th:text="${tt.objectives.dragon.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 bug" id="horde"></div>
                      <span th:text="${tt.objectives.horde.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 larva" id="riftHerald"></div>
                      <span th:text="${tt.objectives.riftHerald.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 tower" id="tower"></div>
                      <span th:text="${tt.objectives.tower.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 suppressor" id="inhibitor"></div>
                      <span th:text="${tt.objectives.inhibitor.kills}">1</span>
                    </li>
                  </ul>

                  <ul class="object-progress">
                    <div th:with="hh=${match.body.info.teams[sss]}">
                      <li>
                        <progress id="progress3" th:value="${match.body.info.teams[sss].objectives.champion.kills}"
                          min="0"
                          th:max="${match.body.info.teams[0].objectives.champion.kills + match.body.info.teams[1].objectives.champion.kills}"></progress>
                        <p>Total Kill</p>
                      </li>
                      <li th:with="kk=${match.body.info.participants[summonermatchnum[i.index]].teamId == 100 ? 0 : 5}">
                        <progress id="progress4" th:value="${
						  match.body.info.participants[kk].goldEarned +
					      match.body.info.participants[kk+1].goldEarned +
					      match.body.info.participants[kk+2].goldEarned +
					      match.body.info.participants[kk+3].goldEarned +
					      match.body.info.participants[kk+4].goldEarned 
					  }" min="0" th:max="${
					      match.body.info.participants[0].goldEarned +
					      match.body.info.participants[1].goldEarned +
					      match.body.info.participants[2].goldEarned +
					      match.body.info.participants[3].goldEarned +
					      match.body.info.participants[4].goldEarned +
					      match.body.info.participants[5].goldEarned +
					      match.body.info.participants[6].goldEarned +
					      match.body.info.participants[7].goldEarned +
					      match.body.info.participants[8].goldEarned +
					      match.body.info.participants[9].goldEarned 
                      }"></progress>
                        <p>Total Gold</p>
                      </li>
                    </div>
                  </ul>
                  <ul class="usergame-objects" th:with="ntt=${match.body.info.teams[nsss]}">
                    <li>
                      <div class="img-wrap4 baron" id="baron"></div>
                      <span th:text="${ntt.objectives.baron.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 dragon" id="dragon"></div>
                      <span th:text="${ntt.objectives.dragon.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 bug" id="horde"></div>
                      <span th:text="${ntt.objectives.horde.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 larva" id="riftHerald"></div>
                      <span th:text="${ntt.objectives.riftHerald.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 tower" id="tower"></div>
                      <span th:text="${ntt.objectives.tower.kills}">1</span>
                    </li>
                    <li>
                      <div class="img-wrap4 suppressor" id="inhibitor"></div>
                      <span th:text="${ntt.objectives.inhibitor.kills}">1</span>
                    </li>
                  </ul>

                </section>
                <!-- 유저 패배 정보 -->

                <section class="user-defeated">
                  <ul class="victory-nav">
                    <li>
                      <span style="color: var(--point3)"
                        th:text="${match.body.info.participants[summonermatchnum[i.index]].win == true ? '패배' : '승리' }">승리</span>
                      <span
                        th:text="${ '(' + (match.body.info.participants[summonermatchnum[i.index]].teamId == 100 ? '레드팀' : '블루팀') + ')'}">(레드팀)</span>
                    </li>
                    <li>
                      <h3>KDA</h3>
                    </li>
                    <li>
                      <h3>가한 피해량</h3>
                    </li>
                    <li>
                      <h3>받은 피해량</h3>
                    </li>
                    <li>
                      <h3>와드</h3>
                    </li>
                    <li>
                      <h3>CS</h3>
                    </li>
                    <li>
                      <h3>아이템</h3>
                    </li>
                  </ul>
                  <div th:with="nww=${summonermatchnum[i.index] >= 5 ? 0 : 5}">
                    <ul class="vic-team" style="background-color: var(--def)"
                      th:each="nz : ${#numbers.sequence(nww, nww + 4)}">
                      <li>
                        <div class="champion">
                          <div class="img-wrap" th:id="${match.body.info.participants[nz].championName}"><img loading="lazy"
                              th:src="@{'/img/champion/'+${match.body.info.participants[nz].championName} + '.jpg'}"
                              alt="" />
                          <div class="tenchamps-level">
                          <span  th:text="${match.body.info.participants[nz].champLevel}"></span>
                          </div>
                              </div>
                        </div>
                        <div class="vic-spell">
                          <div class="spell">
                            <div class="img-wrap3" th:id="${match.body.info.participants[nz].summoner1Id}"><img loading="lazy"
                                th:src="@{'/img/summoner-spell/'+${keysChamSpell[match.body.info.participants[nz].summoner1Id]} + '.jpg'}"
                                alt="" /></div>
                            <div class="img-wrap3" th:id="${match.body.info.participants[nz].summoner2Id}"><img loading="lazy"
                                th:src="@{'/img/summoner-spell/'+${keysChamSpell[match.body.info.participants[nz].summoner2Id]} + '.jpg'}"
                                alt="" /></div>
                          </div>
                          <div class="rune">
                            <div class="img-wrap3" th:id="${match.body.info.participants[nz].Perks.Styles[0].selections[0].perk}"><img loading="lazy"
                                th:src="@{'/img/'+${keysRuneImage[match.body.info.participants[nz].Perks.Styles[0].selections[0].perk]}}"
                                alt="" /></div>
                            <div class="img-wrap3" th:id="${match.body.info.participants[nz].Perks.Styles[1].style}"><img loading="lazy"
                                th:src="@{'/img/'+${keysRuneImage[match.body.info.participants[nz].Perks.Styles[1].style]}}"
                                alt="" /></div>
                          </div>
                        </div>
                        <p>
                    <strong style="color: var(--title);">
					<a th:href="@{'/yalolza.gg/summoners/' + ${ match.body.info.participants[nz].riotIdGameName + '-' + match.body.info.participants[nz].riotIdTagline}}"
					   th:text="${match.body.info.participants[nz].summonerName == '' ? match.body.info.participants[nz].riotIdGameName : match.body.info.participants[nz].riotIdGameName}">
					</a>
                   </strong><br/>
                         <!--  <span>티어</span> -->
                        </p>
                      </li>
                      <li>
                        <p>
                          <span style="color: var(--font);" th:text="${match.body.info.participants[nz].kills + '/' + 
	                               match.body.info.participants[nz].deaths + '/' +
	                               match.body.info.participants[nz].assists
	              }">3/4/6(45%)</span><br />

                          <span style="color: var(--point10)"
                            th:with=" nsss = ${match.body.info.participants[nz].teamId == 100 ? 0 : 1}"
                            th:text="${'킬관여 '+ ((match.body.info.participants[nz].kills+match.body.info.participants[nz].assists) * 100 / match.body.info.teams[nsss].objectives.champion.kills) +'%'}">킬관여
                            45%</span><br />

                          <span style="color: var(--point10)"
                            th:if="${match.body.info.participants[summonermatchnum[i.index]].deaths == 0}"
                            th:text="perpect"></span>

                        <div th:unless="${match.body.info.participants[nz].deaths == 0}">
                          <span style="color: var(--font);" th:if="${(match.body.info.participants[nz].kills + 0.0 +
					                     match.body.info.participants[nz].assists) /
					                    match.body.info.participants[nz].deaths < 10}" th:text="${' ' + #numbers.formatDecimal((match.body.info.participants[nz].kills + 0.0 +
					                     match.body.info.participants[nz].assists) /
					                    match.body.info.participants[nz].deaths ,1, 2)}" />
                          <span style="color: var(--font);" th:unless="${(match.body.info.participants[nz].kills + 0.0 +
					                     match.body.info.participants[nz].assists) /
					                    match.body.info.participants[nz].deaths < 10}" th:text="${#numbers.formatDecimal((match.body.info.participants[nz].kills + 0.0 +
					                     match.body.info.participants[nz].assists) /
					                    match.body.info.participants[nz].deaths ,2, 2)}" ></span>

                        </div>

  
                      </li>
                      <li>
                        <div th:with=" ndmg =${match.body.info.participants[nz].totalDamageDealtToChampions}">
                          <span style="color: var(--font);" th:text="${ndmg}">4554</span><br />
                          <progress id="progress1" th:value="${ndmg}" min="0" th:max="${match.body.maxdmg}"></progress>
                        </div>
                      </li>
                      <li>
                        <div th:with=" ndfs =${match.body.info.participants[nz].totalDamageTaken}">
                          <span style="color: var(--font);" th:text="${ndfs}">4554</span><br />
                          <progress id="progress2" th:value="${ndfs}" min="0"
                            th:max="${match.body.maxdmged}"></progress>
                        </div>
                      </li>
            
                      <li>
                        <p>
                          <span style="color: var(--font);" th:text="${match.body.info.participants[nz].visionWardsBoughtInGame}">4(제어)</span><br />
                          <span style="color: var(--font);" th:text="${match.body.info.participants[nz].wardsPlaced+'/'+
                       match.body.info.participants[nz].wardsKilled}">14/3</span>
                        </p>
                      </li>
                      <li>
                        <p>
                          <span style="color: var(--font);"
                            th:text="${match.body.info.participants[nz].totalMinionsKilled + match.body.info.participants[nz].totalAllyJungleMinionsKilled +match.body.info.participants[nz].totalEnemyJungleMinionsKilled}">211</span><br />
                          <span style="color: var(--font);"
                            th:text=" '분당 ' + ${(match.body.info.participants[nz].totalMinionsKilled + match.body.info.participants[nz].totalAllyJungleMinionsKilled +match.body.info.participants[nz].totalEnemyJungleMinionsKilled) /(match.body.info.gameDuration/ 60 )}">분당
                            4.6</span>	
                        </p>
                      </li>
                      <li>

                        <ul class="victotal-items">
                          <div class="img-wrap3" th:each="itemIndex : ${#numbers.sequence(0, 6)}" th:id="${match.body.info.participants[nz]['item' + itemIndex]}">
                            <img loading="lazy"
                              th:src="@{'/img/item/'+${match.body.info.participants[nz]['item' + itemIndex]} + '.jpg'}"
                              alt="" />
                          </div>

                        </ul>
                      </li>
                    </ul>
                  </div>
                </section>
              </div>
              <!-- 유저 아이템 빌드 -->

              <div class="buildbtn-build">
                <section class="usergame-itembuild">
                  <ul class="itembuild-start">
                    <li th:each="purchase,z : ${matchspurchase[i.index]}">
                     <div class="itembuild-group">
						    <div th:each="key, iterStat : ${#numbers.sequence(1, purchase.size() - 1)}">
						        <div class="img-wrap1" th:id="${purchase[key]}">
						            <img loading="lazy" th:src="@{'/img/item/'+${purchase[key]} + '.jpg'}" alt="" />
						        </div>
						        <p th:if="${iterStat.index == 0}" th:text="${purchase[0]} + '분'">0:00</p>
						    </div>
						</div>
                     <div class="item-arrow" th:if="${z.index + 1 < matchspurchase[i.index].size()}">-></div>
                    </li>
                  </ul>
                </section>
                <section class="usergame-skillbuild" th:with="cham=${match.body.info.participants[summonermatchnum[i.index]].championName}">
                  <ul class="userskill-qwe" th:with="stree=${matchsskilltree[i.index]}">
                    <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/'+${stree[0] == 1 ? 'Q' :(stree[1] == 2 ? 'W' : 'E')}"><img loading="lazy"
                        th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][stree[0] - 1]?.id}+ '.jpg'}"
                        alt="" /></li>
                    <li style="color: var(--white); font-size: 1.2rem; padding: 0 10px 0 10px;">-></li>
                    <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/'+${stree[1] == 1 ? 'Q' :(stree[1] == 2 ? 'W' : 'E')}"><img loading="lazy"
                        th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][stree[1] - 1]?.id}+ '.jpg'}"
                        alt="" /></li>
                    <li style="color: var(--white); font-size: 1.2rem; padding: 0 10px 0 10px;">-></li>
                    <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/'+${stree[2] == 1 ? 'Q' : (stree[2] == 2 ? 'W' : 'E')}"><img loading="lazy"
                        th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][stree[2] - 1]?.id}+ '.jpg'}"
                        alt="" /></li>
                  </ul>
                  <ul>
                    <div class="skillbuild-grid" >
                      <li style="
                          color: var(--title);
                          font-size: 1.3rem;
                          font-weight: bold;
                        ">
                        Q
                      </li>

                      <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/Q'"><img loading="lazy"
                          th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][0]?.id}+ '.jpg'}"
                          alt="" /></li>
                      <li style="color: var(--title);" th:each="skill , s : ${matchsskill[i.index]}" th:text="${skill == 1 ? (s.index +1) : ''}">
                      </li>
                    </div>
                    <div class="skillbuild-grid">
                      <li style="
                          color: var(--title);
                          font-size: 1.3rem;
                          font-weight: bold;
                        ">
                        W
                      </li>
                      <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/W'"><img loading="lazy"
                          th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][1]?.id}+ '.jpg'}"
                          alt="" /></li>
                      <li style="color: var(--title);" th:each="skill , s : ${matchsskill[i.index]}" th:text="${skill == 2 ? (s.index +1) : ''}">
                      </li>
                    </div>
                    <div class="skillbuild-grid">
                      <li style="
                          color: var(--title);
                          font-size: 1.3rem;
                          font-weight: bold;
                        ">
                        E
                      </li>
                      <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/E'"><img loading="lazy"
                          th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][2]?.id}+ '.jpg'}"
                          alt="" /></li>
                      <li style="color: var(--title);" th:each="skill , s : ${matchsskill[i.index]}" th:text="${skill == 3 ? (s.index +1) : ''}">
                      </li>
                    </div>
                    <div class="skillbuild-grid">
                      <li style="color: var(--title);
                          font-size: 1.3rem;
                          font-weight: bold;
                        ">
                        R
                      </li>
                      <li class="img-wrap3" th:id="${cham == 'FiddleSticks' ?  'Fiddlesticks': cham}+'/R'"><img loading="lazy"
                          th:src="@{'/img/spell/'+${keysChamSkill[cham == 'FiddleSticks' ?  'Fiddlesticks': cham ][3]?.id}+ '.jpg'}"
                          alt="" /></li>
                      <li style="color: var(--title);" th:each="skill , s : ${matchsskill[i.index]}" th:text="${skill == 4 ? (s.index +1) : ''}">
                      </li>
                      </div>
                      </ul>
                    
                </section>
                <!-- 유저 룬 정보 -->
                <section class="usergame-runeinfo">
                  <div class="champ-rune">
                    <div class="main-rune"
                      th:with="mainRune=${runeslist[keysRunes[__${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].style}__]]}">
                      <ul class="main-zero">
                        <li class="img-wrap" th:id="${mainRune.id}"><img alt="룬모음 이미지"
                            th:src="@{'/img/'+${mainRune.icon}}" /></li>
                      </ul>
                      <ul class="main-first">
                        <li class="img-wrap" th:each="j : ${mainRune.slots[0].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[0].perk}? 'color-icon':'gray-icon'">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul class="main-second">
                        <li class="img-wrap" th:each="j : ${mainRune.slots[1].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[1].perk}? 'color-icon':'gray-icon'">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul class="main-third">
                        <li class="img-wrap" th:each="j : ${mainRune.slots[2].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[2].perk}? 'color-icon':'gray-icon'">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul class="main-fourth">
                        <li class="img-wrap" th:each="j : ${mainRune.slots[3].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[3].perk}? 'color-icon':'gray-icon'">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <p style="color: var(--title);" class="rune-subject" th:text="${mainRune.name}"></p>
                    </div>
                    <div class="sub-rune"
                      th:with="subRune=${runeslist[keysRunes[__${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].style}__]]}">
                      <ul>
                        <li></li>
                      </ul>
                      <ul class="sub-main">
                        <li class="img-wrap" th:id="${subRune.id}"><img alt="룬모음 이미지"
                            th:src="@{'/img/'+${subRune.icon}}" /></li>
                      </ul>
                      <ul>
                        <li class="img-wrap" th:each="j : ${subRune.slots[1].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].selections[0].perk}? 'color-icon':(${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].selections[1].perk}? 'color-icon':'gray-icon')">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li class="img-wrap" th:each="j : ${subRune.slots[2].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].selections[0].perk}? 'color-icon':(${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].selections[1].perk}? 'color-icon':'gray-icon')">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul>
                        <li class="img-wrap" th:each="j : ${subRune.slots[3].runes}" th:with="rune=${j}"
                          th:id="${rune.id}">
                          <div
                            th:class="${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].selections[0].perk}? 'color-icon':(${rune.id}==${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[1].selections[1].perk}? 'color-icon':'gray-icon')">
                            <img alt="룬 이미지" th:src="@{'/img/'+${rune.icon}}" />
                          </div>
                        </li>
                      </ul>
                      <p style="color: var(--title);" class="rune-subject" th:text="${subRune.name}"></p>
                    </div>
                    <div class="fragments-rune"
                         th:with="value1=${match.body.info.participants[summonermatchnum[i.index]].Perks.statPerks.offense},
                                 value2=${match.body.info.participants[summonermatchnum[i.index]].Perks.statPerks.flex},
                                 value3=${match.body.info.participants[summonermatchnum[i.index]].Perks.statPerks.defense}                            
                         "> 
                      <ul>
                        <li></li>
                      </ul>
                      <ul>
                        <li></li>
                      </ul>
                      <ul class="perkslot1">
                        <li class="img-wrap" th:id="${perklist[0].id}">
                          <div th:class="${perklist[0].id}==${value1}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[0].icon}}" />
                          </div>
                        </li>
                        <li class="img-wrap" th:id="${perklist[1].id}">
                          <div th:class="${perklist[1].id}==${value1}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[1].icon}}" />
                            
                          </div>
                        </li>
                        <li class="img-wrap" th:id="${perklist[2].id}">
                          <div th:class="${perklist[2].id}==${value1}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[2].icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul class="perkslot2">
                        <li class="img-wrap" th:id="${perklist[3].id}">
                          <div th:class="${perklist[3].id}==${value2}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[3].icon}}" />
                          </div>
                        </li>
                        <li class="img-wrap" th:id="${perklist[4].id}">
                          <div th:class="${perklist[4].id}==${value2}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[4].icon}}" />
                          </div>
                        </li>
                        <li class="img-wrap" th:id="${perklist[5].id}">
                          <div th:class="${perklist[5].id}==${value2}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[5].icon}}" />
                          </div>
                        </li>
                      </ul>
                      <ul class="perkslot3">
                        <li class="img-wrap" th:id="${perklist[6].id}">
                          <div th:class="${perklist[6].id}==${value3}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[6].icon}}" />
                          </div>
                        </li>
                        <li class="img-wrap" th:id="${perklist[7].id}">
                          <div th:class="${perklist[7].id}==${value3}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[7].icon}}" />
                          </div>
                        </li>
                        <li class="img-wrap" th:id="${perklist[8].id}">
                          <div th:class="${perklist[8].id}==${value3}? 'color-icon':'gray-icon'">
                            <img alt="스탯 이미지" th:src="@{'/img/'+${perklist[8].icon}}" />
                          </div>
                        </li>
                      </ul>
                      <p style="color: var(--title);" class="rune-subject">능력치 파편</p>
                    </div>
                  </div>
                </section>
              </div>
            </div>
            <!--감싼것-->
          </div>
			 
        	</div>
        	 <!-- 메치 추가버튼 -->
            
				<div id="summoenr-matchmore" onclick="morematch()">더 보기</div>  
        	<!-- 지울거--> 
        </div>	             
      </div>  
    </div>
       
  </div>
  <footer th:replace="~{/footer :: footer}"></footer>
</body>
</html>
