<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/myrest.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
	 <div class="swiper-champdetail" th:fragment="Renekton">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/레넥톤.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>레넥톤</h3>
                    <small style="font-size: 3rem">(탑)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p>
                    Q - 양떼 도륙<br>
					챔피언 대상 체력 회복량: 12/18/24/30/36 (+추가 공격력의 15%) ⇒ 12/20/28/36/44 (+추가 공격력의 17%)<br>E - 자르고 토막내기
					재사용 대기시간: 16/15/14/13/12초 ⇒ 16/14.5/13/11.5/10초
					<br>R - 강신
					추가 체력: 250/400/550 ⇒ 300/500/700
                    </p>
                    <button>챔피언 상세정보</button>
                  </div>
                </div>
              </div>
</body>
</html>