<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/myrest.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
	<!--레넥톤 -->
	 <div class="swiper-champion" th:fragment="Renekton">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/레넥톤.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>레넥톤</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(탑)</small>
                        </div>
                    </div>
			<!-- 아리 -->
			<div class="swiper-champion" th:fragment="Ari">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/아리.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>아리</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(미드)</small>
                        </div>
                    </div>
            <!-- 제이스 -->
            <div class="swiper-champion" th:fragment="Jayce">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/제이스.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>제이스</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(미드)</small>
                        </div>
                    </div>
            <!-- 아우솔 -->
              <div class="swiper-champion" th:fragment="Sol">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/아우솔.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>아우렐리온 솔</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(미드)</small>
                        </div>
                    </div>
                    <!-- 트위스티드 페이트 -->
                  <div class="swiper-champion" th:fragment="Fate">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/트페.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>트위스티드 페이트	</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(미드)</small>
                        </div>
                    </div>   
                  <!-- 카이사 --> 
                 <div class="swiper-champion" th:fragment="Kaisa">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/카이사.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>카이사</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(원딜)</small>
                        </div>
                    </div>  
                    <!-- 바루스 --> 
                 <div class="swiper-champion" th:fragment="Varus">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/바루스.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>바루스</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(원딜)</small>
                        </div>
                    </div>
                       <!-- 스몰더 --> 
                 <div class="swiper-champion" th:fragment="smol">
                        <div class="swiperimg-wrap1">
                            <img
                                    src="/img/swiperdetail/스몰더.webp"
                                    alt=""
                            />
                        </div>
                        <div class="swiperimg-name1">
                            <h3>스몰더</h3>
                            <small style="font-size: 1.5rem; font-weight: bold">(원딜)</small>
                        </div>
                    </div>  
                                    
			
</body>
</html>