<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>yalolza.gg</title>
	<link rel="stylesheet" th:href="@{/css/myrest.css}" />
    <link rel="stylesheet" th:href="@{/css/common.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
</head>
<body>
	<!--레넥톤 -->
	 <div class="swiper-champdetail" th:fragment="Renekton">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/레넥톤.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>레넥톤</h3>
                    <small style="font-size: 3rem">(탑)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
                    Q - 양떼 도륙<br>
					챔피언 대상 체력 회복량: 12/18/24/30/36 (+추가 공격력의 15%) ⇒ 12/20/28/36/44 (+추가 공격력의 17%)<br>E - 자르고 토막내기
					재사용 대기시간: 16/15/14/13/12초 ⇒ 16/14.5/13/11.5/10초
					<br>R - 강신
					추가 체력: 250/400/550 ⇒ 300/500/700
                    </p><br>
                    <a href="/yalolza.gg/champions/Renekton/build?tier=EMERALD&position=TOP"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>

			<!-- 아리 -->
			<div class="swiper-champdetail" th:fragment="Ari">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/아리.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>아리</h3>
                    <small style="font-size: 3rem">(미드)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
                    기본 능력치<br>
					체력 증가량: 96 ⇒ 104<br>
					Q - 현혹의 구슬<br>
					대상 관통당 마법 피해량: 40/65/90/115/140 (+주문력의 45%) ⇒ 40/65/90/115/140 (+주문력의 50%)
                    </p><br>
                    <a href="/yalolza.gg/champions/Ahri/build?tier=EMERALD&position=MIDDLE"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              
              <!-- 제이스 -->
              <div class="swiper-champdetail" th:fragment="Jayce">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/제이스.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>제이스</h3>
                    <small style="font-size: 3rem">(미드)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
                   기본 능력치<br>
					공격력: 57 ⇒ 59<br><br>W - 전류 역장
					마나 회복량: 10/12/14/16/18/20 ⇒ 15/17/19/21/23/25
					초당 마법 피해량: 35/50/65/80/95/110 ⇒ 40/55/70/85/100/115<br><br>E - 천둥 강타
					과학에 기반해서: 이제 사용 즉시 적을 속박합니다. (참고: 리 신 R - 용의 분노 속박과 유사합니다.)
                    </p><br>
                    <a href="/yalolza.gg/champions/Jayce/build?tier=EMERALD&position=MIDDLE"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              
              <!-- 아우솔 -->
              <div class="swiper-champdetail" th:fragment="Sol">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/아우솔.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>아우렐리온 솔</h3>
                    <small style="font-size: 3rem">(미드)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
                  Q - 빛의 숨결<br>
추가 초당 마법 피해량: 60/70/80/90/100 (+주문력의 35%) (+대상 최대 체력의 (별가루 중첩의 3.1%)%) ⇒ 55/65/75/85/95 (+주문력의 30%) (+대상 최대 체력의 (별가루 중첩의 3.1%)%)
                    </p><br>
                    <a href="/yalolza.gg/champions/AurelionSol/build?tier=EMERALD&position=MIDDLE"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              <!-- 트페 -->
              <div class="swiper-champdetail" th:fragment="Fate">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/트페.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>트위스티드 페이트</h3>
                    <small style="font-size: 3rem">(미드)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
                 기본 능력치<br>
공격 속도 증가량: 3% ⇒ 2.5%<br><br>
W - 카드 뽑기<br>
마법 피해량: 40/60/80/100/120 (+공격력의 100%) (+주문력의 115%) ⇒ 40/60/80/100/120 (+공격력의 100%) (+주문력의 100%)<br>E - 속임수 덱<br>
추가 마법 피해량: 65/90/115/140/165 (+추가 공격력의 75%) (+주문력의 50%) ⇒ 65/90/115/140/165 (+추가 공격력의 75%) (+주문력의 40%)

                    </p><br>
                    <a href="/yalolza.gg/champions/TwistedFate/build?tier=EMERALD&position=MIDDLE"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              
               <!-- 카이사 -->
              <div class="swiper-champdetail" th:fragment="Kaisa">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/카이사.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>카이사</h3>
                    <small style="font-size: 3rem">(원딜)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
                R - 사냥본능<br>
스킬 사용 사거리: 1,500/2,250/3,000 ⇒ 2,000/2,500/3,000
                    </p><br>
                    <a href="/yalolza.gg/champions/Kaisa/build?tier=EMERALD&position=BOTTOM"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              
              <!-- 바루스 -->
              <div class="swiper-champdetail" th:fragment="Varus">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/바루스.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>바루스</h3>
                    <small style="font-size: 3rem">(원딜)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td >55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
               			기본 능력치<br>
						기본 공격력: 62 ⇒ 60
                    </p><br>
                    <a href="/yalolza.gg/champions/Varus/build?tier=EMERALD&position=BOTTOM"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              
              <!-- 스몰더 -->
              <div class="swiper-champdetail" th:fragment="smol">
                <div class="swiperimg-wrap">
                  <img
                    src="/img/swiperdetail/스몰더.webp"
                    alt=""
                  />
                </div>
                <div class="swiperimg-right">
                  <div class="swiperimg-name">
                    <h3>스몰더</h3>
                    <small style="font-size: 3rem">(원딜)</small>
                  </div>
                  <table>
                    <thead>
                      <tr>
                        <th></th>
                        <th>14.3 패치</th>
                        <th></th>
                        <th>14.4 패치</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td style="color: var(--point3)">승률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">픽률</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                      <tr>
                        <td style="color: var(--point3)">밴율</td>
                        <td>55.1%</td>
                        <td>-></td>
                        <td>50.7%</td>
                        <td><p>0.6%p</p></td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="champ-point">
                    <h4 style="color: var(--point3)">주목해야 할 포인트</h4>
                    <br />
                    <p style="height: 100px;">
               		Q - 초강력 화염 숨결<br>
					125중첩 시 불꽃 개수: 2 (+용 훈련 중첩 100당 1) ⇒ 1 (+용 훈련 중첩 67당 1)<br>
					편의성 개선 업데이트: 스몰더의 Q - 초강력 화염 숨결이 날아가던 도중 미니언이 처치되어도 용 훈련 중첩을 얻을 수 있습니다.<br>
					W - 에취!<br>
					재사용 대기시간: 13/12.5/12/11.5/11초 ⇒ 14/13/12/11/10초<br>
					기본 물리 피해량: 70/90/110/130/150 (+공격력의 25%) (+주문력의 35%) ⇒ 50/80/110/140/170 (+공격력의 25%) (+주문력의 20%)<br>
					폭발 물리 피해량: 25/40/55/70/85 (+주문력의 65%) ⇒ 25/40/55/70/85 (+추가 공격력의 25%) (+주문력의 80%)<br>R - 엄마아아아!
					불타는 분노: 이제 스몰더의 어미는 스몰더가 쓰러져도 멈추지 않습니다.
                    </p><br>
                    <a href="/yalolza.gg/champions/Varus/build?tier=EMERALD&position=BOTTOM"><button>챔피언 상세정보</button></a>
                  </div>
                </div>
              </div>
              
              
              
              


</body>
</html>