<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	              <div class="main-rune">
                      <ul class="main-zero">
                     <li class="img-wrap"><img src="" alt="" /></li>
                     <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].style}"></span>
                      </ul>
                      <ul class="main-first">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[0].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-second">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[1].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-third">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[2].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-fourth">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[3].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                    </div>
                    
                    
                    
             	  <div class="main-rune">
                      <ul class="main-zero">
                     <li class="img-wrap"><img src="" alt="" /></li>
                     <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].style}"></span>
                      </ul>
                      <ul class="main-first">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[0].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-second">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[1].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-third">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[2].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-fourth">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[3].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                    </div>
                    
                    
                   <div class="main-rune">
                      <ul class="main-zero">
                     <li class="img-wrap"><img src="" alt="" /></li>
                     <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].style}"></span>
                      </ul>
                      <ul class="main-first">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[0].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-second">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[1].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-third">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[2].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-fourth">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[3].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                    </div>
                    
                    
                    
                   <div class="main-rune">
                      <ul class="main-zero">
                     <li class="img-wrap"><img src="" alt="" /></li>
                     <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].style}"></span>
                      </ul>
                      <ul class="main-first">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[0].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-second">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[1].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-third">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[2].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                      <ul class="main-fourth">
						  <span th:text="${match.body.info.participants[summonermatchnum[i.index]].Perks.styles[0].selections[3].perk}"></span>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                        <li class="img-wrap"><img src="" alt="" /></li>
                      </ul>
                    </div>       
                    
                    
	
	
	
</body>
</html>